
{% extends "MyappuserBundle::View1/index.html.twig" %}

{% block pack %}
     
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title"></h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>


<div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">

                     
					

                     
					  {% for i in mod %}
                                              <tr>
    
                         <td><a href=""><img src="{{ asset(path('my_image_route', {'id': i.id})) }}"/> </a></td>
                         
						   
                        
                        </tr>
                         {% endfor %}
                      </tbody>
                    </table>
       {% endblock  %} 
        