{% extends "MyappResponsableBundle::layout.html.twig" %}
{% block modifierImage %}
             
<h1>Upload File</h1>
<form action="#" method="post" {{ form_enctype(Form) }}>
    Produit : {{ form_widget(Form.produit) }}
    {{ form_widget(Form) }}
    <img src="{{ asset(path('my_image_route2', {'id': image.id})) }}"/><br>
    <input type="submit" value="Upload Document" />    
</form>
    {% endblock %}