<form method='post'>
<table>
    <tr><td>Libelle:</td><td>{{form_widget(f.libelle)}}</td></tr>
     <tr><td>Pays:</td><td>{{form_widget(f.pays)}}</td></tr>
    
</table>
      {{form_rest(f)}}
</form>