{#{% extends 'pi2tstBundle::Boutique.html.twig'%}
{% block contents %}#}
<h1>Télécharger Image</h1> 
<form action="#" method="post" {{ form_enctype(Form) }}> 
    {{ form_widget(Form) }}
    
    <input type="submit" value="Upload Document" class="btn btn-primary" /> 

</form>
{#{% endblock %}#}

