{#{% extends 'MyappResponsableBundle::Boutique.html.twig'%}
{% block contents %}#}
    <form method="post" action="">
    <div class="form-group" >
	<label class="control-label" for="input-email">Nom : </label>
	<input type="text" name="nom" value="" placeholder="Nom de la boutique" id="input-email" class="form-control" />
    </div>
        
    <div class="form-group" >
	<label class="control-label" for="input-email">Promotion : </label>
	<input type="text" name="promotion" value="" placeholder="Promotion" class="form-control" />
    </div>
    <div class="form-group">
    <label class="control-label" for="input-email">Description : </label>
	<input type="text" name="emplacement" value="" placeholder="Description" id="input-email" class="form-control" />
	</div>
				
	<input type="submit" value="Ajout" class="btn btn-primary" />
        
        
        
        
    </form>
{#{% endblock %}#}

    
    
    